
  .dets {
    
    border: 2px solid rgb(236, 239, 244);
    border-radius: 5px;
    outline: none;
    padding: 5px;
    margin-top: 1vh;
    font-family: sans-serif;
    padding-left: 9px;
    width: 30vh;
    background-color: transparent;
    transition: 1s;
  }
  .dets:focus {
    border: 2px solid dodgerblue;
  }
  .AppIDs{
    /* margin-left: 50vh; */
  }